package ${package}.service.mapper.${moduleName};
import ${package}.service.entity.${moduleName}.${className};
import org.apache.ibatis.annotations.Mapper;
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
/**
 * ${comments}
 *
 * @author ${author} ${email}
 * @since ${date}
 */
@Mapper
public interface ${className}Mapper extends BaseMapper<${className}> {
	
}