package ${package}.service.entity.${moduleName};
import com.baomidou.mybatisplus.annotation.TableName;
import java.util.*;
import lombok.Data;
import lombok.EqualsAndHashCode;
import com.quickd.core.entity.BaseEntity;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end

/**
 * ${comments}
 *
 * @author ${author} ${email}
 * @since ${date}
 */
@Data
@EqualsAndHashCode(callSuper=false)
@TableName("${tableName}")
public class ${className} extends BaseEntity {
#foreach ($column in $columns)
#if($column.colName !='id'&&$column.colName!='create_time' &&$column.colName!='update_time'&&$column.colName!='update_by'&&$column.colName!='create_by' && $column.colName!= 'del_flag'  && $column.colName!= 'version')
    /**
     * $column.fieldLabel
     */
    private $column.attrType $column.attr;
#end
#end
}