-- 菜单初始SQL
INSERT INTO `sys_menu`(`id`, `pid`, `name`, `url`, `component`, `redirect`, `type`, `permissions`, `perms_type`, `sort`, `always_show`, `icon`, `is_route`, `is_leaf`, `keep_alive`, `hidden`, `remarks`, `create_by`, `create_time`, `update_by`, `update_time`, `del_flag`, `rule_flag`, `status`, `version`) VALUES (${id0}, 0, '$!comments','${pathName}', 'modules/${pathName}/${pathName}', NULL, 1, NULL, '0', 15, NULL, 'dashboard', 1, NULL, NULL, 0, NULL, NULL, NULL, NULL, NULL, '0', 0, NULL, 1);
INSERT INTO `sys_menu`(`id`, `pid`, `name`, `url`, `component`, `redirect`, `type`, `permissions`, `perms_type`, `sort`, `always_show`, `icon`, `is_route`, `is_leaf`, `keep_alive`, `hidden`, `remarks`, `create_by`, `create_time`, `update_by`, `update_time`, `del_flag`, `rule_flag`, `status`, `version`) VALUES (${id1}, ${id0}, '查看', NULL, NULL, NULL, 2, '${pathName}:page,${pathName}:info', '0', 1, NULL, NULL, 1, NULL, NULL, 0, NULL, NULL, NULL, NULL, NULL, '0', 0, NULL, 1);
INSERT INTO `sys_menu`(`id`, `pid`, `name`, `url`, `component`, `redirect`, `type`, `permissions`, `perms_type`, `sort`, `always_show`, `icon`, `is_route`, `is_leaf`, `keep_alive`, `hidden`, `remarks`, `create_by`, `create_time`, `update_by`, `update_time`, `del_flag`, `rule_flag`, `status`, `version`) VALUES (${id2}, ${id0}, '新增', NULL, NULL, NULL, 2, '${pathName}:save', '0', 1, NULL, NULL, 1, NULL, NULL, 0, NULL, NULL, NULL, NULL, NULL, '0', 0, NULL, 1);
INSERT INTO `sys_menu`(`id`, `pid`, `name`, `url`, `component`, `redirect`, `type`, `permissions`, `perms_type`, `sort`, `always_show`, `icon`, `is_route`, `is_leaf`, `keep_alive`, `hidden`, `remarks`, `create_by`, `create_time`, `update_by`, `update_time`, `del_flag`, `rule_flag`, `status`, `version`) VALUES (${id3}, ${id0}, '修改', NULL, NULL, NULL, 2, '${pathName}:update', '0', 1, NULL, NULL, 1, NULL, NULL, 0, NULL, NULL, NULL, NULL, NULL, '0', 0, NULL, 1);
INSERT INTO `sys_menu`(`id`, `pid`, `name`, `url`, `component`, `redirect`, `type`, `permissions`, `perms_type`, `sort`, `always_show`, `icon`, `is_route`, `is_leaf`, `keep_alive`, `hidden`, `remarks`, `create_by`, `create_time`, `update_by`, `update_time`, `del_flag`, `rule_flag`, `status`, `version`) VALUES (${id4}, ${id0}, '删除', NULL, NULL, NULL, 2, '${pathName}:delete', '0', 1, NULL, NULL, 1, NULL, NULL, 0, NULL, NULL, NULL, NULL, NULL, '0', 0, NULL, 1);
INSERT INTO `sys_menu`(`id`, `pid`, `name`, `url`, `component`, `redirect`, `type`, `permissions`, `perms_type`, `sort`, `always_show`, `icon`, `is_route`, `is_leaf`, `keep_alive`, `hidden`, `remarks`, `create_by`, `create_time`, `update_by`, `update_time`, `del_flag`, `rule_flag`, `status`, `version`) VALUES (${id5}, ${id0}, '导出', NULL, NULL, NULL, 2, '${pathName}:export', '0', 1, NULL, NULL, 1, NULL, NULL, 0, NULL, NULL, NULL, NULL, NULL, '0', 0, NULL, 1);
