package ${package}.${moduleName}.${classname};

import lombok.Data;
import lombok.EqualsAndHashCode;
import com.idogfooding.backbone.network.BaseEntity;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
import java.util.Date;

/**
 * ${comments}
 *
 * @author ${author} ${email}
 * @since ${date}
 */
@Data
@EqualsAndHashCode(callSuper=false)
public class ${className} extends BaseEntity  {
	private static final long serialVersionUID = 1L;
#foreach ($column in $columns)
    /**
     * $column.fieldLabel
     */
    private String $column.attr;
#end


}